{% extends "base.html" %}

{% block CONTENT %}

<div class = "container mt-4">
<h1 class = "mb-4">Available Meals</h1>

{% if dishes %}
    {% for dish in dishes %}

        <div class = "card mb-3">
        <div class = "card-body">
            <h4 class = "card-title">{{dish.name}} </h4>

        <p>{{dish.description}}</p>

        <p><strong>Cook:</strong>
            <a href="{{ url_for('profile', username=dish.cook.username) }}">
                {{ dish.cook.first_name }}
            </a>
        </p>

        <p><strong>Dorm:</strong>
        {{ dish.cook.dorm.name }}
        </p>

        <p><strong>Price:</strong>
        {{ "%.2f"|format(dish.price)}}
        </p>


        <p><strong>Portions left:</strong>
        {{ dish.left_portions }}
        </p>

        <a href = "{{ url_for('get_dish', dish_id = dish.id )}}" class="btn btn-primary">
        View Details
        </a>

    </div>
    </div>
    {% endfor %}
    {% else %}

        <div class = "alert alert-info"> No meals available at the moment</div>

{% endif %}
</div>
{% endblock %}