{% extends 'base.html' %}

{% block content %}
    <h2>Dorm & Dine Registrieren</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.passwordagain.label }}<br>
            {{ form.passwordagain(size=32) }}
        </p>
         <p>
            {{ form.is_cook.label }}<br>
            {{ form.is_cook(size=32) }}
        </p>
         <p>
            {{ form.dorm_id.label }}<br>
            {{ form.dorm_id(size=32) }}
        </p>
         <p>
            {{ form.bio.label }}<br>
            {{ form.bio(size=32) }}
        </p>
        <p>{{ form.register() }}</p>

         </form>
{% endblock %}

